* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  background: rgb(217,219,141);
  background: linear-gradient(90deg, rgba(217,219,141,1) 0%, rgba(125,247,247,1) 16%, rgba(241,160,230,1) 77%, rgba(210,255,188,1) 100%);
}

.container {
    padding-top: 2vw;
    padding-left: 27vw;
    display: grid;
    gap: 2.5vw;
    grid-template-columns: repeat(5, 7vw);
    grid-template-rows: repeat(5, 7vw);
}


/* .cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); } */

.cube {
  width: 7vw;
  height: 7vw;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-3.5vw);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-3.5vw) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-3.5vw) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-3.5vw) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-3.5vw) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-3.5vw) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-3.5vw) rotateX(  90deg); }

div.titles {
  font-size: 1px;
}

.cube__face {
  position: absolute;
  width: 7vw;
  height: 7vw;
  border: 0.1vw solid black; 
  line-height: 7vw;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  {  background-size: 100%; }
  /* background-image: url("https://i.scdn.co/image/966ade7a8c43b72faa53822b74a899c675aaafee"); } */
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

/* .cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); } */

.cube__face--front  { transform: rotateY(  0deg) translateZ(3.5vw); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(3.5vw); }
.cube__face--back   { transform: rotateY(180deg) translateZ(3.5vw); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(3.5vw); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(3.5vw); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(3.5vw); }


label { margin-right: 0px; }